<div id="notice"><%= notice %></div>

<h1>記事一覧</h1>

<table class="table table-striped">
<thead>
  <tr>
    <td>タイトル</td>
    <td>投稿者</td>
    <td>日付</td>
    <td></td>
  </tr>
</thead>
<tbody>
<% @posts.each do |post| %>
<tr id="post_<%= post.id %>">
  <td>
    <%= link_to post.title, post_path(post) %>
    <span class="badge badge-important"><%= post.comments.size %></span>
  </td>
  <td><%= post.user.name %></td>
  <td><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></td>
  <td>
    <%= link_to 'Edit',   edit_post_path(post),
                                  :class  => "btn btn-success btn-small" %>
    <%= link_to 'Delete', post, :confirm => 'Sure?',
                                  :method => :delete,
                                  :class  => "btn btn-danger btn-small",
                                  :remote => true %>
  </td>
</tr>
<% end %>
</tbody>
</table>

<%= link_to 'New Posts', new_post_path, :class => 'btn btn-primary' %>

<script>
$(function() {
  setTimeout(function() {
    $('#notice').fadeOut("slow");
  }, 800);
  
  $('a[data-method="delete"]').live('ajax:success', function(e, data, status, xhr) {
    $('#post_'+data.post.id).fadeOut("slow");
  });
  
});
</script>

